In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [3]:
df=pd.read_csv('SpaData.csv')
df.head()

,ID,TimeStamp,Temperature,RelativeHumidity,Light,OxygenLevels,HumidityRatio,GTOccupancy
0,2342,06-02-15 8:51,20.840,19.745000,433.0,629.75,0.003000,1
1,6419,09-02-15 4:49,19.290,26.890000,0.0,466.00,0.003716,0
2,3330,07-02-15 1:20,20.000,18.700000,0.0,435.50,0.002696,0
3,7188,09-02-15 17:38,22.200,38.433333,429.5,1943.50,0.006381,1
4,7655,10-02-15 1:25,20.245,32.900000,0.0,469.00,0.004833,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6514 entries, 0 to 6513
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                6514 non-null   int64
 1   TimeStamp         6514 non-null   object
 2   Temperature       6514 non-null   float64
 3   RelativeHumidity  6514 non-null   float64
 4   Light             6514 non-null   float64
 5   OxygenLevels      6514 non-null   float64
 6   HumidityRatio     6514 non-null   float64
 7   GTOccupancy       6514 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 407.2+ KB

In [7]:
df['GTOccupancy'].unique().sum()

1

In [13]:
X=df.drop(columns=['ID','TimeStamp','GTOccupancy'])
y=df['GTOccupancy']

In [14]:
X.head()

   Temperature  RelativeHumidity  Light  OxygenLevels  HumidityRatio
0       20.840         19.745000  433.0        629.75       0.003000
1       19.290         26.890000    0.0        466.00       0.003716
2       20.000         18.700000    0.0        435.50       0.002696
3       22.200         38.433333  429.5       1943.50       0.006381
4       20.245         32.900000    0.0        469.00       0.004833

In [19]:
percent=y.value_counts()/65.14
percent

0    78.676696
1    21.323304
Name: GTOccupancy, dtype: float64

In [21]:
from imblearn.over_sampling import SMOTE
oversample=SMOTE(k_neighbors=4)
#transform the dataset
X,y=oversample.fit_resample(X,y)

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10250 entries, 0 to 10249
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temperature       10250 non-null  float64
 1   RelativeHumidity  10250 non-null  float64
 2   Light             10250 non-null  float64
 3   OxygenLevels      10250 non-null  float64
 4   HumidityRatio     10250 non-null  float64
dtypes: float64(5)
memory usage: 400.5 KB

In [24]:
percent=y.value_counts()/10250
percent

1    0.5
0    0.5
Name: GTOccupancy, dtype: float64

In [30]:

def classify(model,X,y):
    from sklearn.model_selection import cross_val_score, train_test_split
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.10, random_state=42)
    
    #train the model
    model.fit(X_train,y_train)
    print("Accuracy", model.score(X_test,y_test)*100)
    score=cross_val_score(model,X,y,cv=5)
    print("CV Score", np.mean(score)*100)

In [26]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
classify(model,X,y)

Accuracy 99.02439024390245
CV Score 99.22925495130767

In [27]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(max_depth=22,min_samples_split=2)
classify(model,X,y)

Accuracy 99.51219512195122
CV Score 99.34635668148672

In [31]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
classify(model,X,y)

Accuracy 99.60975609756098
CV Score 99.57073170731707

In [32]:
from sklearn.ensemble import ExtraTreesClassifier
model=ExtraTreesClassifier()
classify(model,X,y)

Accuracy 99.60975609756098
CV Score 99.62926829268292